body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

header {
    background-color: #131313f6;
    color: #f5f5f5;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo img {
    width: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f5f5f5;
}

.cart {
    display: flex;
}

.cart a {
    text-decoration: none;
    color: #f5f5f5;
}

.cart img {
    width: 80px;
}

/*  --------------FIN HEADER--------------- */

/* Estilos para la tarjeta de la película en el main */

.caterlera{
    padding: 0px 80px;
    margin-top: 30px;
}

#products_container {
    padding: 0 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.movie-card {
    background-color: #dbd9d96d;
    border: solid 1px #3333331d;
    ;
    border-radius: 4px;
    box-shadow: 6px 6px 12px #9b9b9b,
        -6px -6px 12px #ffffff;
    margin: 20px auto;
    width: 250px;
}

.movie-card2{
    display: flex; 
    justify-content: start;   
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: left;
}

.descripcion{    
    padding: 20px 0;
    
}

.card-content img {
    text-align: center;
    width: 100%;
    border-radius: 4px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.btn-comprar {
    margin-top: 8px;
    padding: 8px 0;
}

/* Agrega más estilos según sea necesario */

/* Estilos para el footer */
footer {
    background-color: #131313f6;
    color: #f5f5f5;
    padding: 20px 50px;
    align-items: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-left img {
    width: 80px;
}

.footer-center ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    gap: 2rem;
}

.footer-center a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

.footer-right {
    display: flex;
}

.redes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

.fab {
    font-size: 24px;
    margin: 0 7px;
}

.footer-right img {
    width: 24px;
}