/* -------------MODAL------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Habilitar el scroll si es necesario */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.65);
    /* Color de fondo con opacidad */
}

/* Contenido del modal */
.modal-contenido {
    background-color: #fefefe;
    margin: 5% auto;
    /* 9% desde arriba y centrado */    
    border: 1px solid #888;
    width: 650px; 
    height: 450px;   
}

.conteiner-img{
    display: flex;   
    flex-direction: column; 
    align-items: center;
    background-color: #131313f6; 
    color: #fefefe;
}

.img-cart {    
    margin: 20px 0;
    width: 350px;
}

/* El botón de cerrar */
.cerrar {
    text-align: center;
    color: #131313be;    
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    background-color: transparent;
    border: none;
}